body {
    min-width: 280px;
}

.last_start {
    background-color: rgba(100, 150, 100, .4);
}

.last_stop {
    background-color: rgba(190, 100, 100, .4);
}

.current_block {
    background-color: rgba(100, 100, 100, .4);
}

#table-holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;

    width: 90%;
}

h1 {
    height: 5vh;
    min-height: 40px;

    text-align: center;
}

span {
    width: 50%;
    max-width: 500px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 4vh;
    min-height: 40px;
    display: flex;
}

span button {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

tbody {
    overflow: auto;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
}

tbody tr {
    display: flex;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

tbody tr td {
    flex: 1;
}

thead tr {
    display: flex;
}

thead tr th {
    flex: 1;
}

.btn-primary {
    background-color: rgba(100, 100, 100, .8) !important;
    border-color: white !important;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: x-large !important;
    }
}